<!--
  templateType: none
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A Cheesy Company</title>
    <meta charset="utf-8" />
    <title>Dutch Cheese Bussiness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="The company for cheeses. Looking to hire cheese or do you want a job? We are here for you."
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial
          path="../partials/header.html" %}
      {% endblock header %}
      <main id="main-content" class="main-wrapper">
        {% block body %}
        {% endblock body %}
      </main>

      {% block footer %}
        {% global_partial
          path="../partials/footer.html" %}
      {% endblock footer %}
    </div>
    {{ require_js(get_asset_url("../../js/main.js")) }}
  </body>
</html>
